body h1 {
  font-family: "Cinzel", serif;
}
body p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}
body .whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.mainNosotras {
  width: 100vw;
}
.mainNosotras .containerNosotras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(233, 233, 233);
  width: 100%;
}
.mainNosotras .containerNosotras .nosText {
  margin: 30px;
  text-align: center;
  width: 40vw;
}
.mainNosotras .containerNosotras .nosText .hsobre {
  font-size: 2rem;
  margin: 30px;
}
.mainNosotras .containerNosotras .nosText .textnos {
  width: 40vw;
}
.mainNosotras .imgnos {
  width: 200px;
  height: 300px;
  margin: 50px;
  border-radius: 100%;
}
.mainNosotras .containerPelu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 500px;
}
.mainNosotras .containerPelu .pelu {
  height: 440px;
  background-image: url("../imagenes/fondonosotras.JPEG");
  background-position: center;
  background-size: cover;
  text-align: center;
  align-content: center;
}
.mainNosotras .containerPelu .pelu .pelutext {
  color: #f5f2f2;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.mainNosotras .containerPelu .pelu .textopelu {
  margin: 30px;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #f5f2f2;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.mainNosotras .instagram {
  background-color: #dacbb1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainturnos {
  margin-top: 6%;
  background-color: rgb(216, 216, 216);
}
.mainturnos .txtturnos {
  text-align: center;
}
.mainturnos .txtturnos h2 {
  margin: 0 auto;
  margin-bottom: 10px;
}
.mainturnos .txtturnos p {
  margin: 0 auto;
  margin-bottom: 10px;
}
.mainturnos .card {
  margin-right: 10px;
}

.maincontacto {
  background-color: rgb(223, 214, 199);
  margin-top: 5.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maincontacto .divContacto {
  width: 85vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.maincontacto form {
  background-color: rgb(216, 216, 216);
  margin-top: 35px;
  width: 85vw;
}

.mainUbi {
  background-color: rgb(216, 216, 216);
  margin-top: 5.5%;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2.5fr 2.5fr;
  grid-template-areas: "ubi1 ubi2" "ubi1 ubi3";
}
.mainUbi .ubi1 {
  justify-self: center;
  grid-area: ubi1;
  margin-left: 2%;
  height: 100%;
}
.mainUbi .ubi2 {
  grid-area: ubi2;
  align-self: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.mainUbi .ubi3 {
  grid-area: ubi3;
  align-self: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #000000;
  color: #eee7e7;
}
footer .textofooter {
  color: antiquewhite;
  margin: 0;
}
footer .iconfooter {
  margin-right: 4%;
}
footer .iconfooter .logosfooter {
  margin: 20px;
  padding: 10px;
  width: 50px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .logosfooter {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .containerNosotras {
    margin-top: 10%;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .instagram {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .containerNosotras {
    margin-top: 10%;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .hsobre {
    font-size: 1rem;
  }
  .textnos {
    font-size: 1rem;
  }
  .instagram {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
@media (max-width: 680px) {
  .mainturnos .card {
    width: 100%;
    margin: 3%;
    padding: 100px;
  }
  .txtturnos {
    margin-top: 10%;
  }
}
@media (max-width: 320px) {
  .mainturnos .card {
    width: 100%;
    margin: 3%;
    padding: 20%;
  }
  .txtturnos {
    margin-top: 15%;
  }
}
@media (max-width: 1024px) {
  .maincontacto {
    margin-top: 10%;
  }
}
@media (max-width: 600px) {
  .maincontacto {
    margin-top: 18%;
  }
}
@media (max-width: 320px) {
  .maincontacto {
    margin-top: 23%;
  }
}
@media (max-width: 768px) {
  .mainUbi {
    padding: 15%;
    width: 100%;
    align-items: center;
    margin-top: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "ubi1" "ubi2" "ubi3";
  }
  .ubi2 {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (max-width: 480px) {
  .mainUbi {
    justify-content: center;
    margin: 30px;
    width: 100%;
    align-items: center;
    margin-top: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: "ubi1" "ubi2" "ubi3";
  }
  .ubi1 {
    margin: 10%;
    padding: 5%;
  }
  .ubi2 {
    padding: 5%;
  }
  .ubi3 {
    justify-self: center;
    align-self: start;
  }
}
.maininicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maininicio .welcome-section {
  margin: 30px;
  width: 100%;
  height: 90vh;
  padding-top: 15%;
  text-align: center;
  background-color: rgb(233, 233, 233);
}
.maininicio .welcome-section h1 {
  font-size: 6rem;
}
.maininicio .welcome-section p {
  font-size: 2rem;
}
.maininicio .content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f5f2f2;
}
.maininicio .content-section p {
  width: 50%;
  padding: 20px;
  font-size: 1.5rem;
}
.maininicio .content-section img {
  width: 50%;
  height: auto;
}
.maininicio .textoinicio {
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: lightgray;
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.maininicio .textoinicio p {
  font-weight: bold;
}

/*# sourceMappingURL=estilo.css.map */
