body{
    h1{
        font-family: "Cinzel", serif;;
    }
    
    p{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }
    .whatsapp-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
    }
   

}