.maininicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .welcome-section {
        margin: 30px;
        width: 100%;
        height: 90vh;
        padding-top: 15%;
        text-align: center;
        background-color: #e9e9e9;
        h1{
            font-size: 6rem;
            animation-name: titulo;
            animation-duration: 3s;
            animation-iteration-count: 1;

            @keyframes titulo{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
        p{
            font-size: 2rem;
            animation-name: parrafo;
            animation-duration: 3s;
            animation-iteration-count: 1;

            @keyframes parrafo{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
    }
    section{
        padding: 9px;

        .content-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #e9e9e9;
        p{
            width: 50%;
            padding: 20px;
            font-size: 1.5rem;
        }
        img{
            width: 50%;
            height: auto;
        }
        }
    }
    .div-title{
        margin: 3%;
       
    }
    .carousel{
        margin: 10px;
        padding: 3%;
        width: 70%;
        height: 40%;
    }
    .textoinicio{
        width: 100%;
        height: 300px;
        text-align: center;
        background-color: lightgray;
        padding-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        p{
            font-weight: bold;
        }

    }


}
.mainNosotras{
    width: 100vw;


    section{
    .containerNosotras{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(233, 233, 233);
        width: 100%;
        .nosText{
            margin: 30px;
            text-align: center;
            
            .hsobre{
                font-size: 2rem;
                margin: 30px;   
            }
            .textnos{
                width: 40vw;
            }
        }
    }
    .imgnos{
        width: 200px;
        height: 300px;
        margin: 50px;  
        border-radius: 100%; 
        padding-top: 8%;
    }
    }
    section{
    .containerPelu{  
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 100vw;
        height: 500px;
        .pelu{
            height: 440px;
            background-image: url("../imagenes/fondonosotrasnuevo.jpg");
            background-position: center;
            background-size: cover;
            text-align: center;
            align-content: center;
            .pelutext{
                color: #f5f2f2;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
            }
            .textopelu{
                margin: 30px;
                font-optical-sizing: auto;
                font-weight: weight;
                font-style: normal;
                color: #f5f2f2;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
              }
        }
    }
    }
    .instagram{
        background-color: rgb(223, 213, 213);
        display: flex;
        justify-content: space-evenly;
        align-items: center;  
    }
}

.mainturnos{
    margin-top: 6%;
    background-color:  rgb(216, 216, 216);
    .txtturnos {
        text-align: center; 
        h2{
            margin: 0 auto; 
            margin-bottom: 10px;
        }
        p{
            margin: 0 auto; 
            margin-bottom: 10px;
        }
    }
    .row{
        padding-bottom: 10px;

    
    .card {
        margin-right: 10px; 
        p{
            padding-bottom: 10px;
        }
    }
    }
}

.maincontacto{
    background-color: rgb(223, 214, 199) ;
    margin-top: 5.5%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .divContacto{
        width: 85vw;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    form {
        background-color:  rgb(216, 216, 216);
        padding: 20px;
        margin-top: 35px; 
        width: 85vw;
        margin-bottom: 30px;
        h2{
            font-family: "Cinzel", serif;
            margin-bottom: 5px;
        }
    }
 
}
.mainUbi{
    background-color: rgb(216, 216, 216);
    margin-top: 5.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2.5fr 2.5fr;
    grid-template-areas: 
    "ubi1 ubi2"
    "ubi1 ubi3";
    .ubi1{
        justify-self: stretch;
        grid-area: ubi1;
        margin-left: 2%;
        .mapa1{
            padding: 10px;
            width: 100%;
            height: 100%;
        }
    }
    section{
    .ubi2{
        grid-area: ubi2;
        align-self: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    }
    .ubi3{
        grid-area: ubi3;
        align-items: center;
        justify-self: stretch;
        
        .mapa2{
            width: 100%;
            height: 100%;
            padding: 10px 10px 10px 0px;
        }
    }
}
